<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= full_title(@title) %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to_unless_current "HOME",    :controller => "static_pages", :action => "home"    %> | 
      <%= link_to_unless_current "HELP",    :controller => "static_pages", :action => "help"    %> | 
      <%= link_to_unless_current "ABOUT",   :controller => "static_pages", :action => "about"   %> | 
      <%= link_to_unless_current "CONTACT", :controller => "static_pages", :action => "contact" %>
    </header>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
