<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
</head>

<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

<div class="container">
  <%# 開発環境であればデバッグ出力 %>
  <%= debug(params) if Rails.env.development? %>
</div>


</body>
</html>
